﻿@{
	ViewData["Title"] = "Quản lý phân loại";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">@ViewData["Title"]</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-tags"></i> Phân loại</h3></div>
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Styles {	
}

@section Scripts{
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/taxonomy.js"></script>

}
