﻿@using TVG.Core.Extensions;
@inject TVG.Core.Configuration.TvgAppSettings appSettings
@{
	var isLoggedIn = ViewData["isLoggedIn"].TryToBoolean();
	var menu = ViewData["menu"] as List<MenuItemModel>;
	var permissions = ViewData["permissions"] as List<PermissionRole> ?? new List<PermissionRole>();
	var devNames = appSettings.DeveloperNames.Split(";");
}
@if (isLoggedIn)
{
	<ul>
		@foreach (var item in menu)
		{
			var hasPermission = item.DevOnly
				? permissions.Any(x => x.PermissionName == item.Permission) && devNames.Contains(User.Identity.Name)
				: permissions.Any(x => x.PermissionName == item.Permission);
			if (!hasPermission) { continue; }
			<li class="submenu">
				<a class="main-menu-link menu-link" href="@item.Link">
					<i class="fa fa-fw @item.Icon"></i><span> @item.Name</span>
					@if (item.Children.Count > 0)
					{
						<span class="menu-arrow"></span>
					}
				</a>
				@if (item.Children.Count > 0)
				{
					<ul class="list-unstyled">
						@foreach (var child in item.Children)
						{
							hasPermission = child.DevOnly
								? permissions.Any(x => x.PermissionName == child.Permission) && devNames.Contains(User.Identity.Name)
								: permissions.Any(x => x.PermissionName == child.Permission);
							if (!hasPermission) { continue; }
						<li>
							<a class="menu-link @(child.Children.Count > 0 ? "subdrop" : "")" href="@child.Link">
								<span>@child.Name</span>
								@if(child.Children.Count > 0)
								{
								<span class="menu-arrow"></span>
								}
							</a>
							@if (child.Children.Count > 0)
							{
							<ul class="list-unstyled">
								@foreach (var child2 in child.Children)
								{
									hasPermission = child2.DevOnly
										? permissions.Any(x => x.PermissionName == child2.Permission) && devNames.Contains(User.Identity.Name)
										: permissions.Any(x => x.PermissionName == child2.Permission);
									if (!hasPermission) { continue; }
									<li><a class="menu-link" href="@child2.Link">@child2.Name</a></li>
								}
							</ul>
							}
						</li>

							
						}
					</ul>
				}
			</li>
		}
	</ul>
}