﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["pId"]</p>
<p>@ViewData["Name"]</p>
<p>@ViewData["UrlRemove"]</p>
<p>@ViewData["MySqlConnection"]</p>
<p>Use this area to provide additional information.</p>
