﻿@{
	ViewData["Title"] = "Quản lý người dùng";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Người dùng</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-user"></i> Quản lý người dùng</h3></div>
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Styles {
	<link href="~/lib/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />
}

@section Scripts{
	<script src="~/lib/colorpicker/bootstrap-colorpicker.min.js"></script>
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/user.js"></script>
}
