﻿@model PostType
@{
	ViewData["Title"] = $"Quản lý {Model.DisplayName}";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">@Model.DisplayName</li>
	</ol>
}

<div id="app"></div>
<div id="crsf">
	@Html.AntiForgeryToken()
</div>

@section Styles {

}

@section HeaderScripts {
	<script>
		var postType = "@Model.Name";
		var postTypeText = "@Html.Raw(Model.DisplayName)";
	</script>
}

@section Scripts{
	<script src="~/lib/tinymce/tinymce.min.js"></script>
	<script src="~/lib/tinymce/config.js"></script>
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/post.js"></script>
	<script>
		

	</script>
}
