﻿@page
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access denied";
}

@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a asp-page="/">Home</a></li>
	</ol>
}

<div class="alert alert-danger" role="alert">
	Bạn không có quyền truy cập vào chức năng này.
</div>
