﻿@page
@model ConfirmEmailModel
@{
	ViewData["Title"] = "Xác nhận email";
}

@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a asp-area="Identity" asp-page="/Account/Manage/Index">Thông tin cá nhân</a></li>
		<li class="breadcrumb-item active">@ViewData["Title"]</li>

	</ol>
}
<div class="card">

	<div class="card-body">
		<p>
			Email của bạn đã được xác nhận.
		</p>
	</div>
</div>

