﻿@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Quên mật khẩu?";
	Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="card">
	<h4 class="card-header">@ViewData["Title"]</h4>
	<div class="card-body">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<small id="emailHelp" class="form-text text-muted">Vui lòng cung cấp email để khôi phục mật khẩu.</small>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
					</div>
					<input asp-for="Input.Email" placeholder="Email" class="form-control" />
				</div>
				
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Gửi</button>
		</form>
	</div>
</div>

