﻿@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Xác nhận quên mật khẩu";
	Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="card">
	<h4 class="card-header">@ViewData["Title"]</h4>
	<div class="card-body">
		<p>Vui lòng kiểm tra email và làm theo hướng dẫn để khôi phục mật khẩu của bạn.</p>
	</div>
</div>

