﻿@page
@model LockoutModel
@{
	ViewData["Title"] = "Tài khoản bị khóa";
	Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="alert alert-danger" role="alert">
	<h4 class="alert-heading">@ViewData["Title"]</h4>
	<p>
		Tài khoản này đã bị khóa. Vui lòng thử đăng nhập lại sau hoặc liên hệ với admin.
	</p>
</div>
