﻿@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
	Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="card">
	<h4 class="card-header">Login</h4>
	<div class="card-body">
		<form method="post">

			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
					</div>
					<input asp-for="Input.Username" placeholder="Username" class="form-control" />
				</div>
				<span asp-validation-for="Input.Username" class="text-danger"></span>
			</div>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock" aria-hidden="true"></i></span>
					</div>
					<input asp-for="Input.Password" placeholder="Password" class="form-control" />
				</div>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="form-check">
					<label asp-for="Input.RememberMe">
						<input asp-for="Input.RememberMe" />
						<span class="label-text">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
			</div>
			<div class="form-group">
				<p>
					<a asp-page="./ForgotPassword">Forgot your password?</a>
				</p>
			</div>
		</form>
	</div>
</div>

