﻿@page
@model RegisterModel
@{
	ViewData["Title"] = "Tạo thành viên mới";
}

@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Tạo thành viên</li>

	</ol>
}

<div class="card">
	<h4 class="card-header"><i class="fa fa-user-plus"></i> Thông tin thành viên</h4>
	<div class="card-body">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Input.Username"></label>
				<input asp-for="Input.Username" class="form-control" />
				<span asp-validation-for="Input.Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.LastName"></label>
				<input asp-for="Input.LastName" class="form-control" />
				<span asp-validation-for="Input.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.FirstName"></label>
				<input asp-for="Input.FirstName" class="form-control" />
				<span asp-validation-for="Input.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Password"></label>
				<input asp-for="Input.Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Tạo mới</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
