﻿@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Đặt lại mật khẩu mới";
	Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="card">
	<h4 class="card-header">@ViewData["Title"]</h4>
	<div class="card-body">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Input.Code" type="hidden" />
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
					</div>
					<input asp-for="Input.Email" placeholder="Email" class="form-control" />
				</div>				
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock" aria-hidden="true"></i></span>
					</div>
					<input asp-for="Input.Password" placeholder="Mật khẩu mới" class="form-control" />
				</div>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock" aria-hidden="true"></i></span>
					</div>
					<input asp-for="Input.ConfirmPassword" placeholder="Nhập lại mật khẩu mới" class="form-control" />
				</div>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Gửi</button>
		</form>
	</div>
</div>

