﻿@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Reset password confirmation";
	Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}


<div class="card">
	<h4 class="card-header">@ViewData["Title"]</h4>
	<div class="card-body">
		<p>
			Mật khẩu của bạn đã được thay đổi. Vui lòng <a asp-page="./Login">vào đây để đăng nhập</a>.
		</p>
	</div>
</div>