﻿@page
@model ChangePasswordModel
@{
	ViewData["Title"] = "Thay đổi mật khẩu";
}

@section Breadcrumb {
<ol class="breadcrumb float-right">
	<li class="breadcrumb-item"><a href="/">Home</a></li>
	<li class="breadcrumb-item"><a asp-area="Identity" asp-page="/Account/Manage/Index">Thông tin cá nhân</a></li>
	<li class="breadcrumb-item active">Đổi mật khẩu</li>
	
</ol>
}

<div class="card">
	<h4 class="card-header"><i class="fa fa-key"></i> @ViewData["Title"]</h4>
	<div class="card-body">
		<partial name="_StatusMessage" model="Model.StatusMessage" />

		<form id="change-password-form" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.OldPassword"></label>
				<input asp-for="Input.OldPassword" class="form-control" />
				<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.NewPassword"></label>
				<input asp-for="Input.NewPassword" class="form-control" />
				<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Cập nhật</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
