﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Thông tin cá nhân";
}

@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a asp-page="/">Home</a></li>
		<li class="breadcrumb-item active">Thông tin cá nhân</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-user-circle"></i> Thông tin cá nhân</h3></div>
	<div class="card-body">
		<partial name="_StatusMessage" model="Model.StatusMessage" />

		<form id="profile-form" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group row">
				<label class="col-md-2">Tên đăng nhập</label>
				<div class="col-md-10">
					<input asp-for="Username" class="form-control" disabled />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2">Email</label>
				<div class="col-md-10">
					@if (Model.IsEmailConfirmed)
					{
						<div class="input-group">
							<input asp-for="Input.Email" class="form-control" />
							<div class="input-group-append" aria-hidden="true"><span class="input-group-text text-success"><i class="fa fa-check"></i></span></div>
						</div>
					}
					else
					{
						<input asp-for="Input.Email" class="form-control" />
						<button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
					}
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2">Họ và tên lót</label>
				<div class="col-md-10">
					<input asp-for="Input.LastName" class="form-control" />
					<span asp-validation-for="Input.LastName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2">Tên</label>
				<div class="col-md-10">
					<input asp-for="Input.FirstName" class="form-control" />
					<span asp-validation-for="Input.FirstName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label asp-for="Input.PhoneNumber" class="col-md-2"></label>
				<div class="col-md-10">
					<input asp-for="Input.PhoneNumber" class="form-control" />
					<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 offset-md-2">
					<button type="submit" class="btn btn-primary text-center">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
