﻿@{
	ViewData["Title"] = "Quản lý nhóm người dùng";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Nhóm người dùng</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-users"></i> Quản lý nhóm người dùng</h3></div>
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/role.js"></script>
}
