﻿@color_1: #0ca4ca;
@color_2: #ffffff;
@color_3: #64b0f2;
@color_4: #0f9df7;
@color_5: #1bb99a;
@color_6: #3db9dc;
@color_7: #f1b53d;
@color_8: #ff5d48;
@color_9: #9261c6;
@color_10: #ff7aa3;
@color_11: #2b3d51;
@color_12: #818a91;
@color_13: #6b6b6b;
@color_14: #e9f2ff;
@color_15: #e3ebf3;
@color_16: #fff;
@color_17: #dde8ef;
@color_18: #a2cff7;
@color_19: #f3f3f3;
@color_20: #b5b5b5;
@color_21: #efefef;
@color_22: #FFF;
@color_23: rgba(43, 61, 81, 0.8);
@color_24: rgba(255, 255, 255, 0.8);
@color_25: #525252;
@color_26: #a2a5a7;
@font_family_1: 'FontAwesome';
@background_color_1: #efefef;
@background_color_2: #0f9df7;
@background_color_3: #1bb99a;
@background_color_4: #3db9dc;
@background_color_5: #f1b53d;
@background_color_6: #ff5d48;
@background_color_7: #9261c6;
@background_color_8: #ff7aa3;
@background_color_9: #2b3d51;
@background_color_10: #64b0f2;
@background_color_11: #ffffff;
@background_color_12: transparent;
@background_color_13: rgba(0,0,0,.03);
@background_color_14: #4980b5;
@background_color_15: #414d58;
@background_color_16: #6194c1;
@background_color_17: #fff;
@background_color_18: #535b63;
@background_color_19: #3492ea;
@background_color_20: #f95200;
@background_color_21: #a8c1d8;
@background_color_22: #439fef;
@background_color_23: #0283d6;
@background_color_24: #16957c;
@background_color_25: #25a7cb;
@background_color_26: #eea617;
@background_color_27: #ff391f;
@background_color_28: #1d2936;
@background_color_29: #3b5998;
@background_color_30: #00aced;
@background_color_31: #007bb6;
@background_color_32: #ea4c89;
@background_color_33: #dd4b39;
@background_color_34: #517fa4;
@background_color_35: #cb2027;
@background_color_36: #007ee5;
@background_color_37: #ff0084;
@background_color_38: #32506d;
@background_color_39: #00aff0;
@background_color_40: #bb0000;
@background_color_41: #171515;
@background_color_42: #f16854;
@background_color_43: #5ba2e6;
@background_color_44: #f7f7f7;
@background_color_45: #f3f3f3;
@background_color_46: #5bc0de;
@border_color_1: #64b0f2;
@border_color_2: #439fef;
@border_color_3: #0f9df7;
@border_color_4: #0283d6;
@border_color_5: #1bb99a;
@border_color_6: #16957c;
@border_color_7: #3db9dc;
@border_color_8: #25a7cb;
@border_color_9: #f1b53d;
@border_color_10: #eea617;
@border_color_11: #ff5d48;
@border_color_12: #ff391f;
@border_color_13: #2b3d51;
@border_color_14: #1d2936;
@border_color_15: #ff7aa3;
@border_color_16: #9261c6;

@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700,300";
/* IE9, IE10, IE11 */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 0.9rem;
    background-color: @background_color_1;
    padding-bottom: 50px;
}

a {
    color: @color_1;
    text-decoration: none;
    outline: none !important;
    text-decoration: none !important;
}

.small {
    font-size: 0.7rem;
}

.noradius {
    border-radius: 0;
}

.noborder {
    border: 0 !important;
}

.radius-circle {
    border-radius: 50px;
}

label {
    font-weight: 500;
}

.label {
    display: inline-block;
    padding: 0.2em 0.6em;
    font-size: 75%;
    font-weight: bold;
    color: @color_2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;

    &:empty {
        display: none;
    }
}

img {
    vertical-align: middle;
    border: 0;
}

.bg-primary {
    background-color: @background_color_2 !important;
}

.bg-success {
    background-color: @background_color_3 !important;
}

.bg-info {
    background-color: @background_color_4 !important;
}

.bg-warning {
    background-color: @background_color_5 !important;
}

.bg-danger {
    background-color: @background_color_6 !important;
}

.bg-purple {
    background-color: @background_color_7 !important;
}

.bg-pink {
    background-color: @background_color_8 !important;
}

.bg-dark {
    background-color: @background_color_9 !important;
}

.bg-default {
    background-color: @background_color_10 !important;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-custom {
    color: @color_3;
}

.text-primary {
    color: @color_4 !important;
}

.text-success {
    color: @color_5 !important;
}

.text-info {
    color: @color_6 !important;
}

.text-warning {
    color: @color_7 !important;
}

.text-danger {
    color: @color_8 !important;
}

.text-purple {
    color: @color_9;
}

.text-pink {
    color: @color_10;
}

.text-dark {
    color: @color_11;
}

.text-white {
    color: @color_2;
}

.text-muted {
    color: @color_12;
}

.dropdown-lg {
    width: 280px;
}

.dropdown-menu {
    box-shadow: none;
    border: 1px solid rgba(43, 61, 81, 0.05);
    margin: -1px;
    padding: 0;
    border-radius: 0;
}

&::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

&::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

&::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
}

.breadcrumb-holder {
    background-color: @background_color_11;
    margin: 0px -20px 20px -20px;
    padding: 13px 25px 0 25px;
    box-shadow: none;

    .main-title {
        margin-bottom: 0;
        font-size: 1.4rem;
    }

    .breadcrumb {
        padding: 0;
        background-color: @background_color_12 !important;
    }
}

.card-box {
    padding: 20px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: @background_color_11;
    border: 1px solid rgba(183,183,183,.125);

    i {
        font-size: 80px;
        margin-top: 20px;
    }
}

.card-header {
    color: @color_13;
    background-color: @background_color_13;
    border-bottom: 1px solid rgba(111,111,111,.13);

    h3 {
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.2rem;
        margin-bottom: 0;
    }
}

.header-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.page-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.15rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceeef;
}

.button-list {
    margin-bottom: -5px;
    margin-left: -7px;

    button {
        margin: 5px 7px;
    }

    a {
        margin: 5px 7px;
    }
}

canvas {
    max-width: 100%;
}

svg {
    max-width: 100%;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col {
    padding-right: 10px;
    padding-left: 10px;
}

.col-1 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-11 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-3 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-5 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-6 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-7 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-8 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-1 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-11 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-3 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-5 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-6 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-7 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-8 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-1 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-11 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-3 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-5 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-6 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-7 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-8 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-1 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-11 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-3 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-5 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-6 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-7 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-8 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-1 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-11 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-3 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-5 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-6 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-7 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-8 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xl-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-pills {
    .nav-item.show {
        .nav-link {
            background-color: @background_color_2;
        }
    }

    .nav-link.active {
        background-color: @background_color_2;
    }
}

.dropdown-item {
    font-size: 0.9rem;
    white-space: inherit;

    &:active {
        background-color: @background_color_2;
    }
}

.headerbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;

    .headerbar-left {
        background: #4980b5;
        float: left;
        text-align: center;
        height: 50px;
        position: relative;
        width: 250px;
        z-index: 1;

        .logo {
            img {
                max-width: 100px;
                max-height: 30px;
                width: auto;
                height: auto;
            }
        }
    }
}

.navbar-custom {
    background-color: @background_color_14;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 10px;
    margin-left: 250px;
    min-height: 50px;

    .nav-link {
        padding: 0 8px;
        line-height: 50px;
        color: @color_14;
    }

    .dropdown-toggle {
        &:after {
            content: initial;
        }
    }

    .menu-left {
        overflow: hidden;
    }
}

.logo {
    color: @color_15 !important;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 48px;

    span {
        span {
            color: @color_16;
        }
    }
}

.main-sidebar {
    top: 50px;
    width: 250px;
    z-index: 10;
    background: #262D33;
    bottom: 70px;
    margin-bottom: -70px;
    margin-top: 0;
    padding-bottom: 70px;
    position: absolute;
}

.content-page {
    margin-left: 250px;
    overflow: hidden;

    .content {
        padding: 0 5px;
        margin-top: 50px;
    }
}

.main-sidebar.left {
    position: absolute;
}

body.adminbody {
    .main-sidebar.left {
        bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0;
        padding-bottom: 0px;
    }
}

.button-menu-mobile {
    background: transparent;
    border: none;
    color: @color_17;
    font-size: 28px;
    line-height: 50px;
    padding: 0 5px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    z-index: 1;

    &:hover {
        color: @color_18;
    }
}

.sidebar-inner {
    height: 100%;
}

#sidebar-menu {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    font-size: .9rem;
    padding-bottom: 30px;
    width: 100%;

    ul {
        border: 0;
        font-weight: normal;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
        font-size: .9rem;

        li {
            .menu-arrow {
                -webkit-transition: -webkit-transform .15s;
                -o-transition: -o-transform .15s;
                transition: transform .15s;
                position: absolute;
                right: 20px;
                top: 15px;
                display: inline-block;
                font-family: @font_family_1;
                text-rendering: auto;
                line-height: 18px;
                font-size: 16px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                transform: translate(0, 0);

                &:before {
                    content: "\f105";
                }
            }

            a.subdrop {
                .menu-arrow {
                    -ms-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

            a {
                i {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 17px;
                    margin-left: 3px;
                    margin-right: 15px;
                    text-align: center;
                    vertical-align: middle;
                    width: 20px;
                }

                .drop-arrow {
                    float: right;

                    i {
                        margin-right: 0;
                    }
                }
            }
        }

        ul {
            display: none;

            li {
                border-top: 0;
            }

            li.active {
                a {
                    color: @color_19;
                }
            }

            a {
                color: @color_20;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
                display: block;
                padding: 10px 20px 10px 60px;

                &:hover {
                    color: @color_21;
                }

                i {
                    margin-right: 5px;
                }
            }

            ul {
                a {
                    padding-left: 80px;
                }
            }
        }
    }

    li {
        border: 0;
        font-weight: normal;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
        font-size: .9rem;
    }

    a {
        border: 0;
        font-weight: normal;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
        font-size: .9rem;
        line-height: 1.3;
    }

    .label {
        margin-top: 2px;
    }

    .subdrop {
        color: @color_16 !important;
        background-color: @background_color_15;
        border-left: 2px solid #608ab3;
    }

    .submenu {
        ul {
            .submenu {
                .menu-arrow {
                    top: 10px !important;
                }
            }
        }
    }

    > ul {
        > li {
            > a {
                color: @color_20;
                display: block;
                padding: 12px 12px 15px 12px;
                font-weight: 400;
                font-size: 0.90rem;
                border-left: 2px solid transparent;

                &:hover {
                    color: @color_22;
                    background-color: @background_color_15;
                    text-decoration: none;
                    border-left: 2px solid #608ab3;
                }

                > span {
                    vertical-align: middle;
                }
            }

            > a.active {
                color: @color_2 !important;
                background-color: @background_color_16;
            }

            > a.pro {
                background-color: @background_color_42;
                color: @color_16;
                bottom: 0;
            }
        }
    }
}

.menu-title {
    padding: 12px 20px !important;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    font-size: 13px;
}

.footer {
    border-top: 1px solid rgba(115, 140, 152, 0.2);
    bottom: 0;
    color: @color_12;
    text-align: left !important;
    padding: 10px;
    position: absolute;
    right: 0;
    left: 250px;
    background-color: @background_color_17;
}

#main.enlarged {
    .menu-title {
        display: none;
    }

    .menu-arrow {
        display: none !important;
    }

    .footer {
        left: 70px;
    }

    #sidebar-menu {
        ul {
            ul {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

                li.active {
                    a {
                        color: @color_4;
                    }
                }
            }
        }

        > ul {
            > li {
                &:hover {
                    > a.open {
                        &:after {
                            display: none;
                        }
                    }

                    > a.active {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .left.main-sidebar {
        width: 70px;
        z-index: 5;

        #sidebar-menu {
            > ul {
                > li {
                    > a {
                        padding-left: 10px;
                        padding: 15px 20px;
                        min-height: 52.09px;

                        &:hover {
                            background-color: @background_color_10;
                        }

                        i {
                            margin-right: 20px !important;
                            font-size: 20px;
                        }
                    }
                }
            }

            ul {
                > li {
                    position: relative;
                    white-space: nowrap;

                    &:hover {
                        > a {
                            background-color: @background_color_10;
                            position: relative;
                            width: 260px;
                            position: relative;
                            width: 260px;
                            background-color: @background_color_18;
                            color: @color_2;

                            i {
                                color: @color_2;
                            }
                        }

                        > ul {
                            display: block;
                            left: 70px;
                            position: absolute;
                            width: 190px;
                            padding: 5px 0;
                            background: #ffffff;

                            a {
                                background: #ffffff;
                                border: none;
                                box-shadow: none;
                                padding-left: 15px;
                                position: relative;
                                width: 190px;
                                z-index: 6;
                                color: @color_23;

                                &:hover {
                                    color: @color_3;
                                }
                            }
                        }

                        a {
                            span {
                                display: inline;
                            }
                        }
                    }

                    > ul {
                        display: none;
                    }

                    > a {
                        span {
                            display: none;
                            padding-left: 10px;
                        }
                    }
                }

                ul {
                    li {
                        &:hover {
                            > ul {
                                display: block;
                                left: 190px;
                                margin-top: -36px;
                                position: absolute;
                                width: 190px;
                            }
                        }

                        > a {
                            span.pull-right {
                                -ms-transform: rotate(270deg);
                                -webkit-transform: rotate(270deg);
                                position: absolute;
                                right: 20px;
                                top: 12px;
                                transform: rotate(270deg);
                            }
                        }
                    }
                }
            }
        }

        span.pull-right {
            display: none !important;
        }
    }

    .content-page {
        margin-left: 70px;
    }

    .navbar-custom {
        margin-left: 70px;
    }

    .headerbar {
        .headerbar-left {
            width: 70px !important;

            .logo {
                span {
                    display: none;
                    opacity: 0;
                }

                i {
                    margin-right: 0;
                }
            }
        }
    }

    .user-detail {
        bottom: 0;
        padding: 15px 0;
        width: 70px;
        text-align: center;

        .dropup {
            margin: 0 auto;
            margin-left: 17px;
        }

        h5 {
            display: none;
        }

        p {
            position: absolute;
            right: 15px;
            top: 32px;

            span {
                display: none;
            }
        }
    }
}

.notif {
    margin-left: 0 !important;

    .noti-title {
        border-radius: 0;
        background-color: @background_color_19;
        margin: 0;
        width: auto;
        padding: 8px 15px 12px 15px;

        h5 {
            color: @color_2;
            margin: 0;
        }

        .label {
            float: right;
        }
    }

    .noti-icon {
        font-size: 22px;
        padding: 0 12px;
        vertical-align: middle;
        color: @color_24;
    }

    .notif-bullet {
        height: 12px;
        width: 12px;
        background-color: @background_color_20;
        display: inline-block;
        position: absolute;
        top: 13px;
        right: 8px;
        border-radius: 50%;
        border: 2px solid #e2e2e2;
    }

    .notify-item {
        padding: 10px 20px;
        cursor: pointer;

        .notify-icon {
            float: left;
            height: 36px;
            width: 36px;
            line-height: 36px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            color: @color_2;

            img {
                margin-top: 4px;
            }
        }

        .notify-details {
            margin-bottom: 0;
            overflow: hidden;
            margin-left: 45px;
            text-overflow: ellipsis;
            white-space: inherit;

            b {
                font-weight: 500;
            }

            small {
                display: block;
            }

            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
            }
        }
    }

    .notify-all {
        border-radius: 0;
        margin: 0;
        background-color: @background_color_21;
        color: @color_16;
    }
}

.profile-dropdown {
    width: 200px;

    i {
        font-size: 17px;
        vertical-align: middle;
        margin-right: 5px;
    }

    span {
        vertical-align: middle;
    }
}

.nav-user {
    padding: 0 12px !important;

    img {
        height: 36px;
        width: 36px;
        margin-bottom: 7px;
    }
}

body.adminbody-void {
    min-height: 1170px;
}

.mobile.smallscreen {
    .sidebar-inner.leftscroll {
        overflow: scroll !important;
    }
}

button {
    &:focus {
        outline: none !important;
    }
}

a.btn {
    &:focus {
        color: @color_2 !important;
    }
}

.btn-rounded {
    border-radius: 2em !important;
    padding: .5rem 1.5rem;

    .btn-label {
        padding: 7px 15px 7px 20px;
        margin-left: -20px;
    }

    .btn-label-right {
        margin-right: -20px;
        margin-left: 12px;
    }
}

.btn-label {
    background: rgba(43, 61, 81, 0.1);
    display: inline-block;
    padding: 7px 15px;
    border-radius: 3px 0 0 3px;
    margin: -7px -14px;
    margin-right: 12px;
}

.btn-label-right {
    margin-left: 12px;
    margin-right: -13px;
    border-radius: 0px 3px 3px 0px;
}

.btn-custom {
    background-color: @background_color_10;
    border-color: @border_color_1;
    color: @color_2;

    &:hover {
        background-color: @background_color_22;
        background-color: @background_color_22;
        border-color: @border_color_2;
        border-color: @border_color_2;
        color: @color_2;
        color: @color_2;
    }

    &:focus {
        background-color: @background_color_22;
        background-color: @background_color_22;
        border-color: @border_color_2;
        border-color: @border_color_2;
        color: @color_2;
        color: @color_2;
    }

    &:active {
        background-color: @background_color_22;
        background-color: @background_color_22;
        border-color: @border_color_2;
        border-color: @border_color_2;
        color: @color_2;
        color: @color_2;
    }
}

.btn-custom.active {
    background-color: @background_color_22;
    border-color: @border_color_2;
    color: @color_2;
}

.btn-custom.focus {
    background-color: @background_color_22;
    border-color: @border_color_2;
    color: @color_2;
}

.open {
    > .dropdown-toggle.btn-custom {
        background-color: @background_color_22;
        border-color: @border_color_2;
        color: @color_2;
    }

    > .dropdown-toggle.btn-primary {
        background-color: @background_color_23;
        border-color: @border_color_4;
        color: @color_2;
    }

    > .dropdown-toggle.btn-success {
        background-color: @background_color_24;
        border-color: @border_color_6;
        color: @color_2;
    }

    > .dropdown-toggle.btn-info {
        background-color: @background_color_25;
        border-color: @border_color_8;
        color: @color_2;
    }

    > .dropdown-toggle.btn-warning {
        background-color: @background_color_26;
        border-color: @border_color_10;
        color: @color_2;
    }

    > .dropdown-toggle.btn-danger {
        background-color: @background_color_27;
        border-color: @border_color_12;
        color: @color_2;
    }

    > .dropdown-toggle.btn-dark {
        background-color: @background_color_28;
        border-color: @border_color_14;
        color: @color_2;
    }

    > .dropdown-toggle.btn-outline-custom {
        color: @color_2;
        background-color: @background_color_10;
        border-color: @border_color_1;
    }

    > .dropdown-toggle.btn-outline-primary {
        color: @color_2;
        background-color: @background_color_2;
        border-color: @border_color_3;
    }

    > .dropdown-toggle.btn-outline-success {
        color: @color_2;
        background-color: @background_color_3;
        border-color: @border_color_5;
    }

    > .dropdown-toggle.btn-outline-info {
        color: @color_2;
        background-color: @background_color_4;
        border-color: @border_color_7;
    }

    > .dropdown-toggle.btn-outline-warning {
        color: @color_2;
        background-color: @background_color_5;
        border-color: @border_color_9;
    }

    > .dropdown-toggle.btn-outline-danger {
        color: @color_2;
        background-color: @background_color_6;
        border-color: @border_color_11;
    }

    > .dropdown-toggle.btn-outline-pink {
        color: @color_2;
        background-color: @background_color_8;
        border-color: @border_color_15;
    }

    > .dropdown-toggle.btn-outline-purple {
        color: @color_2;
        background-color: @background_color_7;
        border-color: @border_color_16;
    }

    > .dropdown-toggle.btn-outline-dark {
        color: @color_2;
        background-color: @background_color_9;
        border-color: @border_color_13;
    }
}

.btn-primary {
    background-color: @background_color_2;
    border-color: @border_color_3;

    &:hover {
        background-color: @background_color_23;
        background-color: @background_color_23;
        border-color: @border_color_4;
        border-color: @border_color_4;
        color: @color_2;
        color: @color_2;
    }

    &:focus {
        background-color: @background_color_23;
        background-color: @background_color_23;
        border-color: @border_color_4;
        border-color: @border_color_4;
        color: @color_2;
        color: @color_2;
    }

    &:active {
        background-color: @background_color_23;
        background-color: @background_color_23;
        border-color: @border_color_4;
        border-color: @border_color_4;
        color: @color_2;
        color: @color_2;
    }
}

.btn-primary.active {
    background-color: @background_color_23;
    border-color: @border_color_4;
    color: @color_2;
}

.btn-primary.focus {
    background-color: @background_color_23;
    border-color: @border_color_4;
    color: @color_2;
}

.btn-success {
    background-color: @background_color_3;
    border-color: @border_color_5;

    &:hover {
        background-color: @background_color_24;
        background-color: @background_color_24;
        border-color: @border_color_6;
        border-color: @border_color_6;
        color: @color_2;
        color: @color_2;
    }

    &:focus {
        background-color: @background_color_24;
        background-color: @background_color_24;
        border-color: @border_color_6;
        border-color: @border_color_6;
        color: @color_2;
        color: @color_2;
    }

    &:active {
        background-color: @background_color_24;
        background-color: @background_color_24;
        border-color: @border_color_6;
        border-color: @border_color_6;
        color: @color_2;
        color: @color_2;
    }
}

.btn-success.active {
    background-color: @background_color_24;
    border-color: @border_color_6;
    color: @color_2;
}

.btn-success.focus {
    background-color: @background_color_24;
    border-color: @border_color_6;
    color: @color_2;
}

.btn-info {
    background-color: @background_color_4;
    border-color: @border_color_7;

    &:hover {
        background-color: @background_color_25;
        background-color: @background_color_25;
        border-color: @border_color_8;
        border-color: @border_color_8;
        color: @color_2;
        color: @color_2;
    }

    &:focus {
        background-color: @background_color_25;
        background-color: @background_color_25;
        border-color: @border_color_8;
        border-color: @border_color_8;
        color: @color_2;
        color: @color_2;
    }

    &:active {
        background-color: @background_color_25;
        background-color: @background_color_25;
        border-color: @border_color_8;
        border-color: @border_color_8;
        color: @color_2;
        color: @color_2;
    }
}

.btn-info.active {
    background-color: @background_color_25;
    border-color: @border_color_8;
    color: @color_2;
}

.btn-info.focus {
    background-color: @background_color_25;
    border-color: @border_color_8;
    color: @color_2;
}

.btn-warning {
    background-color: @background_color_5;
    border-color: @border_color_9;
    color: @color_2;

    &:hover {
        background-color: @background_color_26;
        background-color: @background_color_26;
        border-color: @border_color_10;
        border-color: @border_color_10;
        color: @color_2;
        color: @color_2;
    }

    &:focus {
        background-color: @background_color_26;
        background-color: @background_color_26;
        border-color: @border_color_10;
        border-color: @border_color_10;
        color: @color_2;
        color: @color_2;
    }

    &:active {
        background-color: @background_color_26;
        background-color: @background_color_26;
        border-color: @border_color_10;
        border-color: @border_color_10;
        color: @color_2;
        color: @color_2;
    }
}

.btn-warning.active {
    background-color: @background_color_26;
    border-color: @border_color_10;
    color: @color_2;
}

.btn-warning.focus {
    background-color: @background_color_26;
    border-color: @border_color_10;
    color: @color_2;
}

.btn-danger {
    background-color: @background_color_6;
    border-color: @border_color_11;

    &:hover {
        background-color: @background_color_27;
        background-color: @background_color_27;
        border-color: @border_color_12;
        border-color: @border_color_12;
        color: @color_2;
        color: @color_2;
    }

    &:focus {
        background-color: @background_color_27;
        background-color: @background_color_27;
        border-color: @border_color_12;
        border-color: @border_color_12;
        color: @color_2;
        color: @color_2;
    }

    &:active {
        background-color: @background_color_27;
        background-color: @background_color_27;
        border-color: @border_color_12;
        border-color: @border_color_12;
        color: @color_2;
        color: @color_2;
    }
}

.btn-danger.active {
    background-color: @background_color_27;
    border-color: @border_color_12;
    color: @color_2;
}

.btn-danger.focus {
    background-color: @background_color_27;
    border-color: @border_color_12;
    color: @color_2;
}

.btn-dark {
    background-color: @background_color_9;
    border-color: @border_color_13;
    color: @color_2;

    &:hover {
        background-color: @background_color_28;
        background-color: @background_color_28;
        border-color: @border_color_14;
        border-color: @border_color_14;
        color: @color_2;
        color: @color_2;
    }

    &:focus {
        background-color: @background_color_28;
        background-color: @background_color_28;
        border-color: @border_color_14;
        border-color: @border_color_14;
        color: @color_2;
        color: @color_2;
    }

    &:active {
        background-color: @background_color_28;
        background-color: @background_color_28;
        border-color: @border_color_14;
        border-color: @border_color_14;
        color: @color_2;
        color: @color_2;
    }
}

.btn-dark.active {
    background-color: @background_color_28;
    border-color: @border_color_14;
    color: @color_2;
}

.btn-dark.focus {
    background-color: @background_color_28;
    border-color: @border_color_14;
    color: @color_2;
}

.btn-outline-custom {
    color: @color_3;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_1;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_10;
        background-color: @background_color_10;
        border-color: @border_color_1;
        border-color: @border_color_1;
    }

    &:focus {
        color: @color_2;
        background-color: @background_color_10;
        border-color: @border_color_1;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_10;
        background-color: @background_color_10;
        border-color: @border_color_1;
        border-color: @border_color_1;
    }
}

.btn-outline-custom.active {
    color: @color_2;
    background-color: @background_color_10;
    border-color: @border_color_1;
}

.btn-outline-custom.focus {
    color: @color_2;
    background-color: @background_color_10;
    border-color: @border_color_1;
}

.btn-outline-custom-primary {
    &:focus {
        color: @color_2;
        background-color: @background_color_10;
        border-color: @border_color_1;
    }
}

.btn-outline-primary {
    color: @color_4;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_3;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_2;
        background-color: @background_color_2;
        border-color: @border_color_3;
        border-color: @border_color_3;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_2;
        background-color: @background_color_2;
        border-color: @border_color_3;
        border-color: @border_color_3;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_2;
        background-color: @background_color_2;
        border-color: @border_color_3;
        border-color: @border_color_3;
    }
}

.btn-outline-primary.active {
    color: @color_2;
    background-color: @background_color_2;
    border-color: @border_color_3;
}

.btn-outline-primary.focus {
    color: @color_2;
    background-color: @background_color_2;
    border-color: @border_color_3;
}

.btn-outline-success {
    color: @color_5;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_5;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_3;
        background-color: @background_color_3;
        border-color: @border_color_5;
        border-color: @border_color_5;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_3;
        background-color: @background_color_3;
        border-color: @border_color_5;
        border-color: @border_color_5;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_3;
        background-color: @background_color_3;
        border-color: @border_color_5;
        border-color: @border_color_5;
    }
}

.btn-outline-success.active {
    color: @color_2;
    background-color: @background_color_3;
    border-color: @border_color_5;
}

.btn-outline-success.focus {
    color: @color_2;
    background-color: @background_color_3;
    border-color: @border_color_5;
}

.btn-outline-info {
    color: @color_6;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_7;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_4;
        background-color: @background_color_4;
        border-color: @border_color_7;
        border-color: @border_color_7;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_4;
        background-color: @background_color_4;
        border-color: @border_color_7;
        border-color: @border_color_7;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_4;
        background-color: @background_color_4;
        border-color: @border_color_7;
        border-color: @border_color_7;
    }
}

.btn-outline-info.active {
    color: @color_2;
    background-color: @background_color_4;
    border-color: @border_color_7;
}

.btn-outline-info.focus {
    color: @color_2;
    background-color: @background_color_4;
    border-color: @border_color_7;
}

.btn-outline-warning {
    color: @color_7;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_9;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_5;
        background-color: @background_color_5;
        border-color: @border_color_9;
        border-color: @border_color_9;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_5;
        background-color: @background_color_5;
        border-color: @border_color_9;
        border-color: @border_color_9;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_5;
        background-color: @background_color_5;
        border-color: @border_color_9;
        border-color: @border_color_9;
    }
}

.btn-outline-warning.active {
    color: @color_2;
    background-color: @background_color_5;
    border-color: @border_color_9;
}

.btn-outline-warning.focus {
    color: @color_2;
    background-color: @background_color_5;
    border-color: @border_color_9;
}

.btn-outline-danger {
    color: @color_8;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_11;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_6;
        background-color: @background_color_6;
        border-color: @border_color_11;
        border-color: @border_color_11;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_6;
        background-color: @background_color_6;
        border-color: @border_color_11;
        border-color: @border_color_11;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_6;
        background-color: @background_color_6;
        border-color: @border_color_11;
        border-color: @border_color_11;
    }
}

.btn-outline-danger.active {
    color: @color_2;
    background-color: @background_color_6;
    border-color: @border_color_11;
}

.btn-outline-danger.focus {
    color: @color_2;
    background-color: @background_color_6;
    border-color: @border_color_11;
}

.btn-outline-pink {
    color: @color_10;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_15;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_8;
        background-color: @background_color_8;
        border-color: @border_color_15;
        border-color: @border_color_15;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_8;
        background-color: @background_color_8;
        border-color: @border_color_15;
        border-color: @border_color_15;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_8;
        background-color: @background_color_8;
        border-color: @border_color_15;
        border-color: @border_color_15;
    }
}

.btn-outline-pink.active {
    color: @color_2;
    background-color: @background_color_8;
    border-color: @border_color_15;
}

.btn-outline-pink.focus {
    color: @color_2;
    background-color: @background_color_8;
    border-color: @border_color_15;
}

.btn-outline-purple {
    color: @color_9;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_16;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_7;
        background-color: @background_color_7;
        border-color: @border_color_16;
        border-color: @border_color_16;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_7;
        background-color: @background_color_7;
        border-color: @border_color_16;
        border-color: @border_color_16;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_7;
        background-color: @background_color_7;
        border-color: @border_color_16;
        border-color: @border_color_16;
    }
}

.btn-outline-purple.active {
    color: @color_2;
    background-color: @background_color_7;
    border-color: @border_color_16;
}

.btn-outline-purple.focus {
    color: @color_2;
    background-color: @background_color_7;
    border-color: @border_color_16;
}

.btn-outline-dark {
    color: @color_11;
    background-image: none;
    background-color: @background_color_12;
    border-color: @border_color_13;

    &:hover {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_9;
        background-color: @background_color_9;
        border-color: @border_color_13;
        border-color: @border_color_13;
    }

    &:focus {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_9;
        background-color: @background_color_9;
        border-color: @border_color_13;
        border-color: @border_color_13;
    }

    &:active {
        color: @color_2;
        color: @color_2;
        background-color: @background_color_9;
        background-color: @background_color_9;
        border-color: @border_color_13;
        border-color: @border_color_13;
    }
}

.btn-outline-dark.active {
    color: @color_2;
    background-color: @background_color_9;
    border-color: @border_color_13;
}

.btn-outline-dark.focus {
    color: @color_2;
    background-color: @background_color_9;
    border-color: @border_color_13;
}

.btn-facebook {
    color: @color_2 !important;
    background-color: @background_color_29 !important;
}

.btn-twitter {
    color: @color_2 !important;
    background-color: @background_color_30 !important;
}

.btn-linkedin {
    color: @color_2 !important;
    background-color: @background_color_31 !important;
}

.btn-dribbble {
    color: @color_2 !important;
    background-color: @background_color_32 !important;
}

.btn-googleplus {
    color: @color_2 !important;
    background-color: @background_color_33 !important;
}

.btn-instagram {
    color: @color_2 !important;
    background-color: @background_color_34 !important;
}

.btn-pinterest {
    color: @color_2 !important;
    background-color: @background_color_35 !important;
}

.btn-dropbox {
    color: @color_2 !important;
    background-color: @background_color_36 !important;
}

.btn-flickr {
    color: @color_2 !important;
    background-color: @background_color_37 !important;
}

.btn-tumblr {
    color: @color_2 !important;
    background-color: @background_color_38 !important;
}

.btn-skype {
    color: @color_2 !important;
    background-color: @background_color_39 !important;
}

.btn-youtube {
    color: @color_2 !important;
    background-color: @background_color_40 !important;
}

.btn-github {
    color: @color_2 !important;
    background-color: @background_color_41 !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.display-block {
    display: block;
}

.dropdown-example {
    position: static;
    display: block;
    margin-bottom: .25rem;
    clear: left;
}

.dropdown-item.active {
    background-color: @background_color_2;
}

.avatar-circle {
    border-radius: 50%;
}

.avatar-rounded {
    border-radius: 50%;
}

.widget-messages {
    .message-item {
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #e8e8e8;
        padding: 12px 0;

        img {
            width: 40px;
        }

        .message-user-img {
            display: block;
            float: left;
            margin-right: 15px;
            width: 40px;
        }

        .message-item-user {
            color: @color_25;
            display: block;
            font-weight: 500;
            margin: 0;
        }

        .message-item-msg {
            color: @color_25;
            display: block;
            font-weight: 200;
            margin: 0;
        }

        .message-item-date {
            color: @color_26;
            font-weight: 200;
            position: absolute;
            right: 7px;
            top: 2px;
        }
    }
}

.custom-modal {
    .modal-header {
        padding: 10px !important;
        border-radius: 0;
        background-color: @background_color_43;
        color: @color_16;
    }

    .modal-content {
        background-color: @background_color_44;
    }

    .modal-footer {
        padding: 10px !important;
        border-radius: 0;
        background-color: @background_color_45;
    }

    .close {
        color: @color_16;
        text-shadow: 0;
    }
}

.border-left {
    border-left: 3px solid #eaeaea;
}

.label-info {
    background-color: @background_color_46;
}

@media screen and (min-width: 0\0) {
    .form-control {
        padding: 0.55rem 0.75rem !important;
    }

    .input-group-addon {
        line-height: inherit !important;
        font-size: 1rem !important;
    }

    .carousel-control {
        span {
            right: 20px;
        }
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .enlarged {
        .left.main-sidebar {
            margin-left: -75px;
        }
    }

    .headerbar-left {
        width: 70px !important;

        span {
            display: none !important;
        }

        i {
            display: block !important;
            line-height: 75px !important;
        }
    }

    .navbar-custom {
        margin-left: 70px !important;
    }

    .content-page {
        margin-left: 0 !important;
    }

    .footer {
        left: 0 !important;
    }

    .mobile-sidebar {
        left: 0;
    }

    .mobile-content {
        left: 250px;
        right: -250px;
    }

    .wrapper-page {
        width: 90%;
    }

    .dataTables_wrapper {
        .col-xs-6 {
            width: 100%;
            text-align: left;
        }
    }

    div#datatable-buttons_info {
        float: none;
    }

    .ms-container {
        width: 100%;
    }

    .navbar-toggleable-md {
        .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }
    }
}

@media (max-width: 767px) {
    .dropdown-lg {
        width: 200px;
    }

    .notif {
        .notify-item {
            padding: 10px 15px;
        }
    }

    .breadcrumb-holder {
        .main-title {
            float: none;
        }

        .breadcrumb {
            float: none;
        }
    }
}

@media (max-width: 480px) {
    .notif {
        .noti-icon {
            font-size: 18px;
            padding: 0 10px;
        }
    }

    .hidden-mobile {
        display: none !important;
    }
}
