﻿.invalid-input {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.swal-title {
    font-size: 1rem;
}

.fc-length {
    display:inline-block;
    padding: 2px 5px;
    background: #cbd6e2;
}

.mce-fullscreen {
    z-index:999 !important;
}
/* ------------------------------
     TABLE
------------------------------ */
.table-header {
    background: #f5f8fa;
    font-size: .875rem;
    text-transform:uppercase;
}

.table-row-action {
    position: relative;
    left: -99999px;
    font-size: .875rem;
}

.rt-tr:hover .table-row-action {
    position:static;
}

/* ------------------------------
     CHECKBOX & RADIO
------------------------------ */
.form-check {
    padding-left: 0
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    right: 9000px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size: 1.25rem;
    color: #cbd6e2;
}

input[type="checkbox"]:checked + .label-text:before {
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
    font-weight: 900;
}

input[type="checkbox"]:disabled + .label-text {
    color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before {
    content: "\f0c8";
    color: #ccc;
}

/*Radio box*/

input[type="radio"] + .label-text:before {
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before {
    content: "\f192";
    color: #8e44ad;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text {
    color: #aaa;
}

input[type="radio"]:disabled + .label-text:before {
    content: "\f111";
    color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"] + .label-text:before {
    content: "\f204";
    font-family: "Font Awesome 5 Free";
    speak: none;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before {
    content: "\f205";
    color: #16a085;
    animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text {
    color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before {
    content: "\f204";
    color: #ccc;
}


@keyframes effect {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}
/* ------------------------------
     END CHECKBOX & RADIO
------------------------------ */

/* ------------------------------
     FORM FLEX
------------------------------ */
.form-flex {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.form-flex .control-label {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-weight: 600;
}

.form-flex .control-wrapper {
    width: 100%;
    display: flex;
    flex-shrink: 100000;
    padding: .375rem .75rem;
}

.form-flex .form-control {
    border: none;
    border-radius: 0;
    padding: 0;
}

.form-flex .form-control:focus {
    box-shadow: none;
}

.form-floating-label {
    display: block;
    position: relative;
}

.form-floating-label .control-label {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-floating-label .form-control:focus + .control-label,
.form-floating-label .form-control:valid + .control-label {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

/* ------------------------------
     FILE MANAGER
------------------------------ */
.file-manager {
    border: 1px solid rgba(115, 140, 152, 0.2);
}

.file-manager__toolbar {
    padding: 10px;
    border-bottom: 1px solid rgba(115, 140, 152, 0.2);
}

.file-manager__cmd {
    height: 36px;
    padding: 0;
    text-align: center;
    width: 36px;
}

.file-manager__folder {
    border-right: 1px solid rgba(115, 140, 152, 0.2);
    max-height: 400px;
    overflow: scroll;
}

.file-manager__file-list {
    max-height: 400px;
    overflow: scroll;
}

.file-list__header-title {
    background: #f1f9ff;
    border-bottom: 1px solid #5ccce7;
    color: #4a4a4a;
    padding: 5px 10px;
}

.file-item {
    padding: 5px;
}

.file-item__thumb {
    display: inline;
    margin-right: 5px;
}

.file-item__img {
    width:16px;
}

.file-item__file-name {
    display: inline;
    margin-right: 5px;
}

.file-item__name, .file-item__type, .file-item__date, .file-item__size {
    display: inline;
}

.file-item__name {
    cursor: pointer;
}

.file-item__is-selected {
    background: #e7f4f9;
    border-left: 3px solid #16a085;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #ccc;
}

.file-manager__view-grid .file-list__header,
.file-manager__view-grid .file-item__date,
.file-manager__view-grid .file-item__size{
    display:none;
}

.file-manager__view-grid .file-item {
    display: inline-block;
    height: 100px;
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 20%;
}

.file-manager__view-grid .file-item__name {
    display: block;
    max-width: 100%;
    max-width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-manager__view-grid .file-item__thumb {
    display:block;
    font-size: 40px;
}
.file-manager__view-grid .file-item__img{
    width: 56px;
}
.file-manager__view-grid .file-item__is-selected {
    border: 1px solid #16a085;
    border-left-width: 1px;
}

