﻿@{
	ViewData["Title"] = "Quản lý phân quyền";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Phân quyền</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-user"></i> Phân quyền</h3></div>
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Styles {

}

@section Scripts{
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/permission_role.js"></script>

}
