﻿@{
	ViewData["Title"] = "Quản lý quyền hạn";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Quyền hệ thống</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-user"></i> Quản lý quyền hệ thống</h3></div>
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Styles {
	
}

@section Scripts{
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/permission_manage.js"></script>
}
