﻿@{
	ViewData["Title"] = "Quản lý cache";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Quản lý cache</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-cog"></i> Quản lý cache</h3></div>
	<div class="card-body">
		@using (Html.BeginForm("ClearAllCache", "CacheManager", FormMethod.Post, new { id = "form1" }))
		{
			<button type="submit" class="btn btn-primary">Xoá hết cache</button>
		}
	</div>
</div>

@section Styles {

}

@section Scripts{
}
