﻿@{
	ViewData["Title"] = "Thư viện file";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Thư viện file</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-file-image-o"></i> Thư viện files</h3></div>
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Styles{
	<link rel="stylesheet" href="~/lib/jstree/themes/default/style.min.css" />
	<link rel="stylesheet" href="~/lib/fine-uploader/fine-uploader-new.css" />	
	<link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" />	
	<link rel="stylesheet" href="~/lib/jquery-contextmenu/jquery.contextMenu.min.css" />	
	
}

@section Scripts{
	<script src="~/js/dist/vendors.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="~/lib/fine-uploader/fine-uploader.min.js"></script>
	<script src="~/lib/ekko-lightbox/ekko-lightbox.min.js"></script>
	<script src="~/lib/jquery-contextmenu/jquery.contextMenu.min.js"></script>
	<script src="~/lib/jstree/jstree.min.js"></script>
	<script src="~/js/dist/media_manager.js"></script>	
}
