﻿@{
	ViewData["Title"] = "Thư viện files";
	Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<div class="card">
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
		<input id="hfTarget" type="hidden" value="@ViewData["target"]" />
	</div>
</div>

@section Styles{
	<link rel="stylesheet" href="~/lib/jstree/themes/default/style.min.css" />
	<link rel="stylesheet" href="~/lib/fine-uploader/fine-uploader-new.css" />
	<link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" />
	<link rel="stylesheet" href="~/lib/jquery-contextmenu/jquery.contextMenu.min.css" />

}

@section Scripts{
	<script src="~/js/dist/vendors.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="~/lib/fine-uploader/fine-uploader.min.js"></script>
	<script src="~/lib/ekko-lightbox/ekko-lightbox.min.js"></script>
	<script src="~/lib/jquery-contextmenu/jquery.contextMenu.min.js"></script>
	<script src="~/lib/jstree/jstree.min.js"></script>
	<script src="~/js/dist/media_manager.js"></script>
}

