﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TVG.Admin</title>

	<meta name="description" content="TVG Admin">

	<link rel="shortcut icon" href="/images/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">



	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
	</environment>

	<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/react-table/react-table.css" rel="stylesheet" />

	@RenderSection("styles", false)

	<link href="~/css/admin.css" rel="stylesheet" type="text/css" />

	<environment include="Development">
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body class="adminbody">
	<div id="main">

		@RenderBody()

	</div> @*end main*@


	<script src="~/lib/modernizr.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<partial name="_ReactScriptsPartial" />
	<script src="~/lib/moment.min.js"></script>

	<script src="~/lib/popper.min.js"></script>
	<script src="~/lib/bootstrap/bootstrap.min.js"></script>

	<script src="~/lib/toastr.js/toastr.min.js"></script>
	<script src="~/lib/detect.js"></script>
	<script src="~/lib/fastclick.js"></script>
	<script src="~/lib/jquery.blockUI.js"></script>
	<script src="~/lib/jquery.nicescroll.js"></script>

	<!-- App js -->
	<script src="~/lib/pikeadmin.js"></script>

	<environment include="Development">
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
