﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TVG.Admin</title>

	<meta name="description" content="TVG Admin">

	<link rel="shortcut icon" href="/images/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">



	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
	</environment>

	<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/react-table/react-table.css" rel="stylesheet" />

	@RenderSection("Styles", false)

	<link href="~/css/admin.css" rel="stylesheet" type="text/css" />

	<environment include="Development">
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	@RenderSection("HeaderScripts", false)
</head>
<body class="adminbody">
	<div id="main">

		<div class="headerbar">
			<div class="headerbar-left">
				<a href="/" class="logo"><img alt="Logo" src="/images/logo.png" /> <span>Admin</span></a>
			</div>
			<nav class="navbar-custom">
				<ul class="list-inline float-right mb-0">


					<li class="list-inline-item dropdown notif">
						<partial name="_LoginPartial" />
					</li>

				</ul>

				<ul class="list-inline menu-left mb-0">
					<li class="float-left">
						<button class="button-menu-mobile open-left">
							<i class="fa fa-fw fa-bars"></i>
						</button>
					</li>
				</ul>
			</nav>
		</div> @*end headerbar*@

		<div class="left main-sidebar">
			<div class="sidebar-inner leftscroll">
				<div id="sidebar-menu">
					<partial name="_Menu" />
				</div>
			</div>
		</div> @*end main-sidebar*@

		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">@ViewData["Title"]</h1>
								@RenderSection("Breadcrumb", required: false)
								<div class="clearfix"></div>
							</div>
						</div>
					</div> @*end page title*@

					@RenderBody()

				</div> @*end content-fluid*@
			</div> @*end content*@
		</div> @*end content-page*@

		<footer class="footer">
			<span class="text-right">
				Copyright <a target="_blank" href="#">TVG</a>
			</span>
			<span class="float-right">

			</span>
		</footer>

	</div> @*end main*@


	<script src="~/lib/modernizr.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<partial name="_ReactScriptsPartial" />
	<script src="~/lib/moment.min.js"></script>

	<script src="~/lib/popper.min.js"></script>
	<script src="~/lib/bootstrap/bootstrap.min.js"></script>
	<script src="~/lib/jquery.popupWindow.js"></script>
	<script src="~/lib/toastr.js/toastr.min.js"></script>
	<script src="~/lib/detect.js"></script>
	<script src="~/lib/fastclick.js"></script>
	<script src="~/lib/jquery.blockUI.js"></script>
	<script src="~/lib/jquery.nicescroll.js"></script>

	<!-- App js -->
	<script src="~/lib/pikeadmin.js"></script>

	<environment include="Development">
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
