﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TVG.Admin</title>

	<meta name="description" content="TVG Admin">

	<link rel="shortcut icon" href="/images/favicon.ico">

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
	</environment>

	<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="~/css/admin.css" rel="stylesheet" type="text/css" />

	<environment include="Development">
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body class="adminbody">
	<div class="headerbar">
		<div class="headerbar-left">
			<a href="/" class="logo"><img alt="Logo" src="/images/logo.png" /> <span>Admin</span></a>
		</div>
		<nav class="navbar-custom">
			
		</nav>
	</div>
	<div class="content-page m-0 h-100 pt-3">
		<div class="row h-100 justify-content-center content align-items-center">
			@RenderBody()
		</div>
	</div>

	<script src="~/lib/modernizr.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<partial name="_ValidationScriptsPartial" />

	<environment include="Development">
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

</body>
</html>

