﻿@using Microsoft.AspNetCore.Identity
@using TVG.Identity.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
		
		<a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
			<img src="/images/admin.png" alt="Profile image" class="avatar-rounded"> @UserManager.GetUserName(User)
		</a>
		<div class="dropdown-menu dropdown-menu-right profile-dropdown ">

			<!-- item-->
			<a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item notify-item">
				<i class="fa fa-user"></i> <span>Thông tin cá nhân</span>
			</a>

			<a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="dropdown-item notify-item">
				<i class="fa fa-key"></i> <span>Đổi mật khẩu</span>
			</a>

			<!-- item-->
			<button type="submit" class="dropdown-item notify-item"><i class="fa fa-power-off"></i> <span>Thoát</span></button>

		</div>
		
    </form>
}