﻿@{
	ViewData["Title"] = "Demo Editor";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Người dùng</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-user"></i> TinyMCE</h3></div>
	<div class="card-body">
		<textarea id="editor">
		<p>Ei est graecis appareat, vim no commune convenire. Vim id doctus appellantur, liber referrentur no vis, ad pri recusabo intellegam voluptatibus. Eum facilis nominavi vituperata in, vix ea viris lobortis reformidans. His at tritani sapientem. Ridens referrentur ad eam.</p>
<p><iframe src="//www.youtube.com/embed/Z60mvqKoJIc" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p>Duo an novum ullamcorper, esse solet mentitum in vis, his ludus docendi ad. An pro lorem definiebas, cum mollis constituto ut. Et decore adipisci gloriatur mel, in rebum impedit est, his id omnesque comprehensam. Quis labitur persequeris ea cum, ius eu quis blandit, vis primis quaeque cu. An sumo esse sea. Ad atqui tation persius quo. Veniam voluptaria at usu, idque elitr persecuti ei pri.</p>
<p><img src="https://thietkenoithat.com.vn/Portals/2/xNews/uploads/2018/3/16/xu-huong-thiet-ke-noi-that-biet-thu-hien-dai-cao-cap-1.jpg" /></p>
<p>Ea duo eleifend persecuti, ius altera scriptorem ex. Ei sit tamquam fabellas insolens, eam ut magna adhuc tacimates. Diam indoctum has ne. Mei ad nulla aliquip, per ne voluptaria deseruisse interesset, mei wisi probatus et. Summo nobis virtute sed ut. Usu ad nisl oblique hendrerit, an sumo gloriatur persequeris vis.</p>
</textarea>
		<textarea>abc</textarea>
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Styles {

}

@section HeaderScripts{
	<script src="~/lib/tinymce/tinymce.min.js"></script>
	<script src="~/lib/tinymce/config.js"></script>
	<script>
		tinymce.init(Object.assign({ selector: "#editor" }, tinyMCEConfig));
		
	</script>
}
