﻿
@{
	ViewData["Title"] = "MediaPopup";
}

@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active"><a href="/demo/">Demos</a></li>
	</ol>
}

<h2>MediaPopup</h2>
<button type="button" class="btn btn-primary js-open-pu">Open popup</button>
<img id="img" src="" />

@section Scripts {
	
	<script>
		CMS.UI.bindOpenMediaPopup('.js-open-pu', '#img', function (e) {
			$("#img").attr('src', e.files[0].url);
			window.puMedia.close();
		});
	</script>
}

