﻿@{
	var taxonomy = ViewBag.Taxonomy as Taxonomy;
	ViewData["Title"] = "Quản lý " + taxonomy.DisplayName;
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">@taxonomy.DisplayName</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-tags"></i> @taxonomy.DisplayName</h3></div>
	<div class="card-body">
		<input type="hidden" id="hfTaxonomy" value="@taxonomy.Name" />
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Styles {
	<link href="~/lib/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />
}

@section Scripts{
	<script src="~/lib/colorpicker/bootstrap-colorpicker.min.js"></script>
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/term.js"></script>

}
