﻿@{
	ViewData["Title"] = "Quản lý loại bài viết";
}
@section Breadcrumb {
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">Loại bài viết</li>
	</ol>
}

<div class="card">
	<div class="card-header"><h3><i class="fa fa-files-o"></i> Loại bài viết</h3></div>
	<div class="card-body">
		<div id="app"></div>
		<div id="crsf">
			@Html.AntiForgeryToken()
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/dist/vendors.js"></script>
	<script src="~/js/dist/post_type.js"></script>
}
